p.transcript{
    font-size:1.4em;
}

div.ant-collapse{
    font-size:1em;
}

div.ant-collapse-header{
    font-size:1.4em;
}


.website{
    display:flex;
    height:calc(100vh - 80px);
    background-color:gray;
}

.intro{
    display:flex;
    justify-content: center;
}

.audio{
    width:600px;
    margin:auto;
    padding:50px;
    background-color: gainsboro;
}

.player {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-bottom: 10px;
}

.transcript{
    align-content: center;
}