@keyframes fadeIn1 {
from {
    opacity: 0;
    transform: translate(-70%, -190%);
}

to {
    opacity: 1;
    transform: translate(-70%, -210%);
}
}

@keyframes fadeIn2 {
from {
    opacity: 0;
    transform: translate(-70%, -110%);
}

to {
    opacity: 1;
    transform: translate(-70%, -130%);
}
}

.div_god {
    position: relative;
    color: white;
}

.iphone_img {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
    width: 850px;
}

.phone-container{
    width:850px;
    height: 850px;
    position:relative;
    margin:auto
}

.phoneNumberDiv {
    /* positioning and sizing */
    position: absolute;
    padding: 5px;
    width: 20em;
    height: 9%;
    top: 50%;
    left: 50%;
    transform: translate(calc(-34% + 1.1em), calc(-375% - .6em));

}

.messageDiv {
    /* positioning and sizing */
    position: absolute;
    padding: 5px;
    width: calc(180px + 5em);
    height: 10em;
    top: 50%;
    left: 50%;
    transform: translate(calc(-75% + 2em), -190px);

    /* coloring and style */
    background-color: #333333;
    border-radius: 10px;

    /* animation stuff */
    animation-duration: 0.5s;
    animation-delay: 0.4s;
    animation-name: fadeIn1_UNUSED;
    animation-fill-mode: forwards;

}

.messageDiv2 {
    /* positioning and sizing */
    position: absolute;
    padding: 5px;
    width: calc(180px + 5em);
    height: 10em;
    top: 50%;
    left: 50%;
    transform: translate(calc(-75% + 2em), calc(-200px + 11.5em));

    /* coloring and style */
    background-color: #333333;
    border-radius: 10px;

    /* animation stuff */
    animation-duration: 0.5s;
    animation-delay: 1.4s;
    animation-name: fadeIn2_UNUSED;
    animation-fill-mode: forwards;
}


p.imessageText {
    color: white;
    font-size: 1.2em;
}

p.phoneNumberText {
    color: white;
    font-size: 1.2em;
}