h1.joined {
    font-size: 700%;
    font-weight: 400;
}

p.general {
    font-size: 150%;
}

p.name{
    font-size: 200%;
    font-weight: 500;
}

p.lobby{
    font-size: 350%;
    font-weight: 900;
}