@keyframes finalResultWrong {
    0% {
      color: white;
    }
  
    50% {
      color: red;
      letter-spacing: 5px;
    }

    100% {
        color: white;
      }
  }

  @keyframes finalResultCorrect {
    0% {
      color: white;
    }
  
    50% {
      color: gold;
      letter-spacing: 5px;
    }

    100% {
        color: white;
      }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
        opacity: 1;
      }
  }

  @keyframes wiggle {
    0% {
        transform: rotate(-3deg);
      }

    50% {
        transform: rotate(3deg);
      }

    100% {
        transform: rotate(-3deg);
      }
  }


div.endLevelParent {

    /* position in page */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* grey backround block */
    background-color: rgba(50, 50, 50, 0.9);
    width: 30%;
    height: 60%;
    border-radius: 20px;
    padding: 30px;

    /* alignment */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

h1.endHeaderCorrect {
    font-size: 300%;
    color: white;
    font-weight: bolder;
    margin-bottom: -2%;

    /* animation stuff */
    animation-duration: 5s;
    animation-name: finalResultCorrect;
    animation-iteration-count: infinite;
}

h1.endHeaderWrong {
    font-size: 300%;
    color: white;
    font-weight: bolder;
    margin-bottom: -2%;
    /* animation stuff */
    animation-duration: 5s;
    animation-name: finalResultWrong;
    animation-iteration-count: infinite;
}

.sectionHeader {
    font-size: 150%;
    color: white;
}

div.scoreCalculation {
    /* alignment */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    /* coloring */
    border: 2px solid grey;
    border-radius: 10px;
    background: rgba(100, 100, 100, 0.9);

    /* size and spacing */
    width: 100%;
    height: 20%;
    margin-bottom: 15px;
}

div.totalScoreCalculation {
    /* alignment */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    /* coloring */
    border: 2px solid grey;
    border-radius: 10px;
    background: rgba(100, 100, 100, 0.9);

    /* size and spacing */
    width: 100%;
    height: 40%;
    margin-bottom: 15px;
}

div.totalScoreRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}


div.numberDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bonusNum {
    margin: 0px;
    color: white;
}

h1.mathSymbol {
    margin: 0px 20px 0px 20px;
    color: white
}


div.levelScoreDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.levelScoreNum {
    font-size: 200%;
    font-weight: bold;
    margin: 0px;
    color: white;
}

.totalScoreNum {
    font-size: 500%;
    font-weight: bold;
    margin: 0px;
    color: white;

    /* animation stuff */
    animation-duration: 1s;
    animation-name: wiggle;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

Button.next_level_btn {
    font-weight: bold;
    pointer-events: auto;
}